@model Septik.Web.Models.CityAddEditVM

@{
    ViewData["Title"] = "Create";
}

@section Styles {

    <link href="~/lib/cropperjs/dist/cropper.min.css" rel="stylesheet" />
    <link href="~/css/scss/stackPhoto.min.css" rel="stylesheet" />

}

<h1>Додати місто</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Id)
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <partial name="_StackPhoto" />

            @*<div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="file">
                <label class="custom-file-label" for="customFile">Оберіть фото міста</label>
            </div>*@
            <br />
            <br />
            @Html.HiddenFor(x => x.Lat)
            @Html.HiddenFor(x => x.Lng)
            <div class="form-group">
                <input type="submit" value="Створити магазин" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-7">
        @*<h2>Позначте точну на карті вашого міста</h2>*@
        <div id="map" class="w-100 h-100"></div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<partial name="_CropperModal" />




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/cropperjs/dist/cropper.min.js"></script>

    <script>
        var lat = 50.618778, lng = 26.258798;
        let $Lat = $("#Lat");
        let $Lng = $("#Lng");
        $Lat.val(lat);
        $Lng.val(lng);
        var map = L.map('map').setView([lat, lng], 13);

        var marker = L.marker([lat, lng],
            { title: "MyPoint", alt: "The Big I", draggable: true }).addTo(map)
            .bindPopup('Шаг Академія');

        marker.on('dragend', function () {
            console.log("Hello ", marker.getLatLng());
            $Lat.val(marker.getLatLng().lat);
            $Lng.val(marker.getLatLng().lng);
            //var coord = String(marker.getLatLng()).split(',');
            //console.log(coord);
            //var lat = coord[0].split('(');
            //console.log(lat);
            //var lng = coord[1].split(')');
            //console.log(lng);
            //marker.bindPopup("Moved to: " + lat[1] + ", " + lng[0] + ".");
        });


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


                    //.openPopup();
    </script>



    <script>
        $(document).ready(function () {
            let cropper;
            let dialogCropper = $("#cropperModal");
            //generateID();
            initCropper();
            //загрузка фото на клік
            uploadImage();
            //загрузка фото на клік
            function uploadImage() {
                let button = $('.images .pic');

                let images = $('.images');

                button.on('click', function () {
                    let uploader = $('<input type="file" accept="image/*" />');
                    uploader.click()
                    uploader.on('change', function () {
                        let reader = new FileReader();
                        reader.onload = function (event) {

                            dialogCropper.modal('show');
                            cropper.replace(event.target.result);
                            uploader.remove();
                            //
                        };
                        reader.readAsDataURL(uploader[0].files[0]);

                    });
                });

                images.on('click', '.img', function () {
                    $(this).remove();
                });

                //обрізка малюнка
                $("#cropImg").on("click", function (e) {
                    e.preventDefault();
                    var imgContent = cropper.getCroppedCanvas().toDataURL();

                    images.prepend(`
                                      <div class="img" style="background-image: url(${imgContent});" 
                                            rel="${imgContent}">
                                                <span>remove</span>
                                                <input type="hidden" name="cityImages[]" value="${imgContent}">
                                       </div>`);
                    dialogCropper.modal('hide');
                });

            }

            function initCropper() {
                //запуск кропера
                const imageCropper = document.getElementById('imageCropper');
                cropper = new Cropper(imageCropper, {
                    aspectRatio: 420 / 320,
                    viewMode: 1,
                    autoCropArea: 0.5,
                    crop(event) {
                        // console.log(event.detail.x);
                        // console.log(event.detail.y);
                        // console.log(event.detail.width);
                        // console.log(event.detail.height);
                        // console.log(event.detail.rotate);
                        // console.log(event.detail.scaleX);
                        // console.log(event.detail.scaleY);
                    },
                });
            }
        });


    </script>

}
